body {
    background-color: rgb(161, 161, 170);
    color: #528d38;
    font-size: 20px;
}

p {
    background-color: rgb(70, 78, 70);a
}

.ybc {
    background-color: red;
}

.ybt {
    background-color: yellow;
}

#ymy {
    color: whitesmoke;
}

#yco {
    color: orange;
}

#ybc1 {
    color: white;
    font-size:30px;
}

h5 {
    background-color: red;
}

.blue {
    background-color: blue;
}

#my-h5 {
    background-color: orange;
}

p.dotted{
    position: relative;
    left:30px;
    border: 10px black
    padding: 50px;
    margin: 50px;
}
    
}

iframe{
    height: 1000px;
    width: 1000px;
    padding: 20px;
}
a{
    color: pink;
}
p.relative {
    position: relative;
    width: 1000px;
    height: 300px;
    border: 10px solid black;
    padding: 80px;
    margin: 100px;
}