body {
    background-color: rgb(161, 161, 170);
    color: #528d38;
    font-size: 20px;
}

p {
    background-color: rgb(70, 78, 70);
}

.ybc {
    background-color: red;
}

.ybt {
    background-color: yellow;
}

#ymy {
    color: whitesmoke;
}

#yco {
    color: orange;
}

#ybc1 {
    color: white;
    font-size:30px;
}

h5 {
    background-color: red;
}

.blue {
    background-color: blue;
}

#my-h5 {
    background-color: orange;
}